.lead {
  width: calc(100% - 148px*2);
  margin-bottom: 114px; 
}
@media screen and (max-width: 1024px) {
  .lead {
    width: calc(100% - 48px*2);
  }
}
@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
    margin-bottom: 88px;
  }
}
@media screen and (max-width: 320px) {
  .lead {
    margin-bottom: 64px;
  }
}
