.place__image-item {
    margin: 0;
    min-width: 460px;
    min-height: 460px;
    width: 100%;
    object-fit: cover;
  }
  
  @media screen and (max-width: 1024px) {
    .place__image-item {
      min-width: 440px;
      min-height: 440px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .place__image-item {
      min-width: 340px;
      min-height: 340px;
    }
  }
  @media screen and (max-width: 390px) {
    .place__image-item {
      min-width: 320px;
      min-height: 320px;
    }
  }
  