.cover {
  margin: 0 auto 92px auto;
  max-width: calc(100vw - 48px*2);
  width: 100%;
  min-height: 740px;
  overflow: hidden;
  position: relative;
  align-self: center;
  text-align: center;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
    min-height: calc(100vw * (640/1024));
    margin-bottom: 88px;  
  }
}

@media screen  and (max-width: 320px) {
  .cover {
    width: 100%;
    min-height: calc(100vw * (200/320));
    margin-bottom: 64px;
  }
}
