.place__link {
    font-size: 18px;
    line-height: 1.22;
    text-decoration: underline;
  }
  @media screen and (max-width: 320px) {
    .place__link {
      line-height: 1;
      margin-left: 16px;
    }
  }