.footer {
  width: calc(100% - 48px*2);
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 380px) {
  .footer {
    flex-direction: column;
    width: 100%;
  }
}
